
@{
    ViewData["Title"] = "Portfolio";
}

<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Keşiflerim</h2>
            <p>
                &nbsp&nbsp&nbsp Bu köşede, benim gözümden dünyanın farklı coğrafyalarını keşfetme fırsatını bulacaksınız. Yaşadığım ülkelerde ayak bastığım turistik yerler, beni etkileyen atmosferleri, tarih kokan mekanları ve eşsiz deneyimleri içeriyor.

                Her bir gezimde, yerel kültürleri daha yakından tanıma şansını buldum. Sadece turistik yerler değil, aynı zamanda gizli köşeleri, yerel lezzetleri ve o bölgenin ruhunu yansıtan özel noktaları da keşfettim. Sizleri, bu gezgin notları aracılığıyla benimle birlikte bu unutulmaz seyahatlerde dolaşmaya davet ediyorum. Haydi, dünyanın her köşesini birlikte keşfedelim!
            </p>
        </div>
        
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">Keşiflerim</li>
                    <li data-filter=".filter-app">SriLanka</li>
                    <li data-filter=".filter-card">İngiltere</li>
                    <li data-filter=".filter-web">Zambiya</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/sigiryaAslanKalesi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sigirya Aslan Kalesi</h4>
                        <p>SriLanka</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/sigiryaAslanKalesi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Sigirya Aslan Kalesi"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/DisTapınagı.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Diş Tapınağı</h4>
                        <p>SriLanka</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/DisTapınagı.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Diş Tapınağı"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/UdawalaweUlusalParkı.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Udawalawe Ulusal Parkı</h4>
                        <p>SriLanka</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/UdawalaweUlusalParkı.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Udawalawe Ulusal Parkı"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/UlusalGaleri.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Ulusal Galeri</h4>
                        <p>İngiltere</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/UlusalGaleri.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ulusal Galeri"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/TateModern.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Tate Modern</h4>
                        <p>İngiltere</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/TateModern.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tate Modern"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/LittleVenice.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Little Venice</h4>
                        <p>İngiltere</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/LittleVenice.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Little Venice"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/VictoriaSelalesi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Viktorya Şelalesi</h4>
                        <p>Zambiya</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/VictoriaSelalesi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Viktorya Şelalesi"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/LusakaUlusalMuzesi.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Lusaka Ulusal Müzesi</h4>
                        <p>Zambiya</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/LusakaUlusalMuzesi.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Lusaka Ulusal Müzesi"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/Lonely/assets/img/Kesiflerim/TanganikaGolu.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Tangankina Gölü</h4>
                        <p>Zambiya</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="~/Lonely/assets/img/Kesiflerim/TanganikaGolu.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tanganika Gölü"><i class="bx bx-plus"></i></a>
                        @* <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a> *@
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



